.data-table {
  width: 100%;
}

.mat-column-name {
  padding-left: 10px;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 10px;
  text-align: center;
}

.search-input-full-width {
  width: 90%;
  padding-left: 1%;
  padding-right: 9%;
}
