#content-container {
  margin: 20px 20px;
}

#month-selecter {
  width: 90%;
  padding-left: 1%;
  padding-right: 9%;
  position:relative;
  margin:0 auto;
}

.mat-button{
  height: auto;
}

.mat-form-field {
  margin-right: 20px;
}
