<mat-card>
  <mat-card-content>
    <form [formGroup]="fieldForm" (ngSubmit)="edit()">
      <h2>Edit Field</h2>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>IngenioId</mat-label>
            <input matInput formControlName="ingenioId">
          </mat-form-field>
        </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Size</mat-label>
          <input matInput formControlName="size">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>CultivatedArea</mat-label>
          <input matInput formControlName="cultivatedArea">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>AcquisitionDate</mat-label>
          <input matInput formControlName="acquisitionDate">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>LastUpdated</mat-label>
          <input matInput formControlName="lastUpdated">
        </mat-form-field>
      </div>
      </form>
  </mat-card-content>
</mat-card>


