.mat-form-field{
  display: unset;
}

.ingenioids-container {
  display: flex;
  flex-direction: column;
  margin: 16px;

  .add-button {
    width: 50%;
    align-self: center;
  }
}

.formarray-container {
  display: flex;
  gap: 16px;
  align-items: center;

  .ingenioid-formfield {
    flex: 1;
  }

  .size-formfield {
    flex: 0.5;
  }

  .delete-button {
    margin-bottom: 1.34375em;
  }

}
