<div mat-dialog-title>
  {{title}}
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</div>
<form [formGroup]="fieldForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="row-container">
      <h3>IngenioIds</h3>
      <div formArrayName="ingenioId" class="ingenioids-container">
        <div *ngFor="let question of ingenioIdFormArray.controls; let i = index" class="formarray-container">
          <ng-container [formGroupName]="i">
            <mat-form-field appearance="fill" class="ingenioid-formfield">
              <mat-label>Id</mat-label>
              <input matInput formControlName="ingenioId">
            </mat-form-field>
            <mat-form-field appearance="fill" class="size-formfield">
              <mat-label>Size</mat-label>
              <input matInput formControlName="size">
            </mat-form-field>
            <button mat-icon-button type="button" (click)="deleteIngenioId(i)" color="warn" class="delete-button"><mat-icon>delete</mat-icon></button>
          </ng-container>
        </div>
        <button mat-raised-button type="button" color="primary" class="add-button" (click)="addIngenioId()">Add</button>
      </div>
    </div>

    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label> Owner</mat-label>
        <input matInput formControlName="owner">
      </mat-form-field>
    </div>
    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <input matInput formControlName="size" type="number">
      </mat-form-field>
    </div>
    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>CultivatedArea</mat-label>
        <input matInput formControlName="cultivatedArea" type="number">
      </mat-form-field>
    </div>
    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>AcquisitionDate</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="acquisitionDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row-container">
      <mat-form-field appearance="fill">
        <mat-label>LastUpdated</mat-label>
        <input matInput formControlName="lastUpdated">
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="fieldForm.invalid || fieldForm.disabled">
      Save
    </button>
  </div>
</form>


