<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span class="mat-dialog-title main-title">CanaWeb.app</span>

    <mat-nav-list  *ngIf="!notLoggedIn()" class="list-horizontal">
      <mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</mat-list-item>
      <mat-list-item routerLink="/field" routerLinkActive="active">Field</mat-list-item>
      <mat-list-item routerLink="/payable" routerLinkActive="active">Payable</mat-list-item>
      <mat-list-item routerLink="/receivable" routerLinkActive="active">Receivable</mat-list-item>
    </mat-nav-list>

    <mat-nav-list *ngIf="notLoggedIn()">
      <a routerLink="/auth" routerLinkActive="active" *ngIf="notLoggedIn()">Auth</a>
    </mat-nav-list>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Logout">
      <mat-icon>contact_support</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
