#card-container {
  display: flex;
  flex-direction: row;
}

.release-info {
  min-width: 400px;
  width: fit-content;
  height: fit-content;
  margin: 8px;
}

ul {
  column-count: 2;
}

li {
  list-style: none;
}

.payable-summary {
  min-width: 400px;
  width: fit-content;
  height: fit-content;
  margin: 8px;
}
