nav a {
  padding: 1rem;
}

.active {
  background-color: lightcoral;
}

.mat-toolbar.mat-primary {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex:  1 1 auto;
}


.main-title {
  padding-right: 5%;
}
