<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="mat-dialog-title main-title">CanaWeb.app</span>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/field" routerLinkActive="active">Field</a>
      <a routerLink="/payable" routerLinkActive="active">Payable</a>
      <a routerLink="/receivable" routerLinkActive="active">Receivable</a>
      <a routerLink="/auth" routerLinkActive="active">Auth</a>
    </nav>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Logout">
      <mat-icon>contact_support</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
