<mat-accordion class="mat-elevation-z8" multi *ngFor="let receivable of consolidatedReceivables$| async">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ getTitle(receivable) }}
      </mat-panel-title>
      <mat-panel-description>
        <div class="description-container" >
          <div class="description-entry" *ngFor="let total of getTotals(receivable)">{{total | currency}}</div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-receivable-detail [receivable]="r" *ngFor="let r of receivable.receivables"></app-receivable-detail>
  </mat-expansion-panel>
</mat-accordion>
