<div>
  <h2>{{ingenioId}}</h2>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="phase">
      <mat-header-cell *matHeaderCellDef> Phase</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phase}} </mat-cell >
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="pricePerUnit">
      <mat-header-cell *matHeaderCellDef> P.U</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pricePerUnit | currency: 'MXN'  }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="tons">
      <mat-header-cell  *matHeaderCellDef> Tons</mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.tons | number }} </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{ checkSuccess ? 'OK' : 'FAILED' }} </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total | currency: 'MXN' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>
  </mat-table >
</div>
